.btnPrimary {
  background-color: #9c27b0 !important;
  @apply font-bold;
}
.btnPrimary:disabled {
  color: rgb(161 161 170);
  pointer-events: auto !important;
  cursor: not-allowed !important;
}

.textField {
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  border-radius: 5px;
  color: white;
}

.anchor {
  @apply text-slate-300 decoration-slate-300 hover:text-white hover:decoration-white;
}
