.container {
  @apply flex flex-col md:flex-row w-full md:w-10/12 bg-white dark:bg-black lg:ml-64 xl:ml-72 md:ml-0;
}

.messageBar {
  @apply w-full md:w-4/12 border-b md:border-b-0 md:border-r border-zinc-200 dark:border-zinc-800 flex flex-col h-auto md:h-screen py-4;
  max-height: 30vh;
  @apply md:max-h-full;
}

.topMessageBar {
  @apply m-4 flex flex-row justify-between items-center;
}

.textarea {
  @apply bg-white dark:bg-black border-0 w-full max-h-16;
  resize: none;
  outline: none;
}

.topChatContainer {
  @apply w-full p-4 flex flex-row items-center border-b border-b-zinc-200 dark:border-b-zinc-800;
  height: 10%;
}

.chatContainer {
  @apply w-full overflow-y-scroll flex flex-col p-4;
  height: 75vh;
  @apply md:h-[80%];
}

.bottomChatContainer {
  width: 100% !important;
  @apply w-full p-4;
  height: 10%;
  @apply fixed bottom-0 left-0 md:relative bg-white dark:bg-black;
  @apply w-full mb-12 md:mb-0;
}

.mobileHidden {
  @apply hidden md:flex;
}

.mobileOnly {
  @apply flex md:hidden;
}

.chatSection {
  @apply w-full md:w-8/12 h-screen flex flex-col justify-start items-center;
}
